.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  height: 500;
  align-items: center;
}
.description {
  /* height: 300px; */
}
.avatar {
  height: 200px;
}
.name {
  text-align: center;
}
.tag {
  text-align: center;
}
.location {
  text-align: center;
}
.stats {
  list-style: none;
  display: flex;
}
.label {
}
.quantity {
}
