.status {
  width: 10px;
  border-radius: 50%;
  /* background-color: blueviolet; */
  height: 10px;
  margin-right: 10px;
}
.avatar {
  margin-right: 10px;
  border-radius: 5%;
  overflow: hidden;
  border: 1px solid rgba(92, 91, 91, 0.555);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.name {
  font-size: 18px;
  font-weight: 600;
}
.isOnline {
  background-color: green;
}
.notOnline {
  background-color: red;
}
